<button (click)="addNewSection()">Add new Section</button><br><br>
<form [formGroup]="myForm">
  <div formArrayName="sections">
    <div *ngFor="let comp of myForm.get('sections').controls; let i=index">
    <fieldset>
      <legend><h3>SECTION {{i+1}}: </h3></legend>
      <div [formGroupName]="i">
        <label>Section Name: </label>
        <input formControlName="section" /><span><button (click)="deleteSection(i)">Delete Section</button></span>
        <div formArrayName="subSections">
          <div *ngFor="let subSection of comp.get('subSections').controls; let j=index">
            <fieldset>
            <legend><h4>SUB SECTION {{j+1}}</h4></legend>
            <div [formGroupName]="j">
              <label>SubSection Name:</label>
              <input formControlName="subSectionName" /><span><button (click)="deleteSubSection(comp.controls.subSections, j)">Delete SubSection</button></span>
            
            
              <div formArrayName="formFields">
                <div *ngFor="let formField of subSection.get('formFields').controls; let k=index">
                  <fieldset>
                  <legend><h4>FORM FIELD {{k+1}}</h4></legend>
                  <div [formGroupName]="k">
                    <label>Form Field Name:</label>
                    <input formControlName="formFieldName" /><span><button (click)="deleteFormField(subSection.controls.formFields, k)">Delete Form Field</button></span>
                  </div>
                  </fieldset>
                </div>
                <button (click)="addNewFormField(subSection.controls.formFields)">Add new Field</button>
              </div>
            
            
            </div>
            </fieldset>
          </div>
          <button (click)="addNewSubSection(comp.controls.subSections)">Add new SubSection</button>
        </div>
      </div>
    </fieldset>
    </div>
  </div><br>
  
</form>

<pre>{{myForm.value | json}}</pre>