<div class="row">
  <div class="col-12">
    <form [formGroup]="form">
      <div class="card">
        <!-- <div class="card-header">Contact Information</div> -->
        <div class="card-body" formArrayName="contacts">
          <div class="row">
            <div
              class="col-4"
              *ngFor="let contact of contactFormGroup.controls; let i = index"
            >
              <div [formGroupName]="i" class="row">
                <div class="form-group col-3">
                  <label>Label {{ i + 1 }}</label>
                  <input
                    class="form-control"
                    formControlName="name"
                    type="text"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      getContactsFormGroup(i).controls['name'].touched &&
                      getContactsFormGroup(i).controls['name'].hasError(
                        'required'
                      )
                    "
                  >
                    Label is required!
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
